<div class="card bg-dark text-white">
    <div class="card-header">Ingrese Sus Categorias</div>
    <div class="card-body">
        <form>
            <div class="form-group row">
                <label for="" class="col-form-label col-sm-2">Categoria</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="categoria.nombre_categoria"  name="nombre">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <button class="btn btn-primary" (click)="CrearCategoria()" role="button">Crear</button>
                </div>
            </div>


        </form>

    </div>
</div>
<div class="card bg-dark text-white">
    <div class="card-header">Ingrese Sus Preferencias</div>
    <div class="card-body">
        <form>
            <div class="form-group row">
                <label for="" class="col-form-label col-sm-2">Seleccione su categoria</label>
                <div class="col-sm-6">
                    <select  name="TipoSelect" (change)="seleccionT($event)" class="form-select" aria-label="Default select example">
                        <option selected disabled value="0">Seleccione</option>
                        <option #TSelect *ngFor="let categoria of Categoria" value="{{categoria.id_categoria}}">{{categoria.nombre_categoria}}</option>
                        
                      </select>
                </div>
                
            </div>
            <div class="form-group row">
                <label for="" class="col-form-label col-sm-2">Describala</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="preferencia.preferencia" name="nombre">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <button class="btn btn-primary" (click)="CrearPreferencia()" role="button">Crear</button>
                </div>
            </div>
        </form>

    </div>
</div>
